* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #0c0c25, #04182d, #002132, #032a35, #0f3237); 
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0; 
}

.container{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.094),
    0 6.7px 5.3px rgba(0, 0, 0, 0.098),
    0 12.5px 10px rgba(0, 0, 0, 0.16),
    0 22.3px 17.9px rgba(0, 0, 0, 0.092),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ; 
  background-image: linear-gradient(to right bottom, #bdd7da, #9db6b9, #7f979a, #61787b, #455b5e);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90% ;
}
.timer{
    text-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.134),
    0 6.7px 5.3px rgba(0, 0, 0, 0.148),
    0 12.5px 10px rgba(0, 0, 0, 0.16),
    0 22.3px 17.9px rgba(0, 0, 0, 0.1),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    position:absolute;
    top: 2rem;
    font-size: 3.3rem;
    background: -webkit-linear-gradient(rgb(253, 186, 0), rgb(204, 157, 26));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.text-to-show{
    color:rgb(0, 0, 0);
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.input-text{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.094),
    0 6.7px 5.3px rgba(0, 0, 0, 0.098),
    0 12.5px 10px rgba(0, 0, 0, 0.16),
    0 22.3px 17.9px rgba(0, 0, 0, 0.092),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ; 
  
    background-image: linear-gradient(to left top, #0c0c25, #04182d, #002132, #032a35, #0f3237);
    color:hsl(54, 84%, 54%);
    border: 2px solid hsl(45, 17%, 23%);;
    outline: none;
    border-radius: 0.5rem;
    width: 100%;
    height: 8rem;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.1rem;
}
.input-text:focus{
    border-color:rgb(24, 24, 26);
}

.correct{
    color:rgb(7, 30, 160);
}
.incorrect{
    color:red;
}


.wpm {
    text-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.134),
    0 6.7px 5.3px rgba(0, 0, 0, 0.148),
    0 12.5px 10px rgba(0, 0, 0, 0.16),
    0 22.3px 17.9px rgba(0, 0, 0, 0.1),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
   
    top: 3rem;
    font-size: 2.8rem;
    background: -webkit-linear-gradient(rgb(253, 186, 0), rgb(204, 157, 26));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align:center;
    visibility:hidden
}
.feedback{
    text-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.134),
    0 6.7px 5.3px rgba(0, 0, 0, 0.148),
    0 12.5px 10px rgba(0, 0, 0, 0.16),
    0 22.3px 17.9px rgba(0, 0, 0, 0.1),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    text-align:center;
    font-size: 3.2rem;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(205, 205, 211));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    
    visibility: hidden;
    
}
.result{
    background-image: linear-gradient(to left top, #0c0c25, #04182d, #002132, #032a35, #0f3237);
    padding: 2rem;
    border-radius: .7rem;
    position:absolute;
    align-items: center;
    visibility:hidden;
}
.buttoncontainer {
    height: 200px;
    position: relative;
  }
  
.tryagain {
    border:none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.094),
    0 6.7px 5.3px rgba(0, 0, 0, 0.098),
    0 12.5px 10px rgba(0, 0, 0, 0.16),
    0 22.3px 17.9px rgba(0, 0, 0, 0.092),
    0 41.8px 33.4px rgba(0, 0, 0, 0.096),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ; 
    
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(224, 224, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    color:rgb(5, 160, 121);
    border-radius: .5rem;
    font-size: 1.1rem;
    padding:.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
  }

.tryagain:hover{
    font-size: 0.9rem;
}
